<p>movie-detail works!</p>

<div>
  <div class="mb-3">
    <label for="title" class="form-label">Nombre de la Pelicula</label>
    <input [(ngModel)]="movieid.title" type="text" class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="synopsis" class="form-label">Sinopsis de la Pelicula</label>
    <input [(ngModel)]="movieid.synopsis" type="text" class="form-control" id="synopsis">
  </div>
  <div class="mb-3">
      <label for="year" class="form-label">Año de la pelicula</label>
      <input [(ngModel)]="movieid.year" type="numer" class="form-control" id="year" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="cover" class="form-label">Costo de la pelicula</label>
      <input [(ngModel)]="movieid.cover" type="numer" class="form-control" id="cover">
    </div>
  <button (click)="updateMovie()" class="btn btn-primary">Actualizar</button>
</div>       