<br />
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Más detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>
          <a
            class="btn btn-primary btn-sm"
            [routerLink]="['/movie',movie.id]">
            Mas información / Editar
          </a>
        </td>
      </tr>
    </tbody>
</table>
